* {
  box-sizing: border-box;
}

body {
  background-color: #f3e0da;
}

header {
  text-align: end;
  background-color: #f3e0da;
  margin: -20px;
}

nav {
  padding: 20px;
  margin-top: 20px;
}

li {
  display: inline;
  padding: 20px;
  margin: 20px 20px;
}

li a {
  text-decoration: none;
  color: black;
  font-family: "Code Demo";
  font-weight: bold;
}

.navitem:hover {
  color: white;
}

#heart {
  height: 50px;
  width: auto;
  float: left;
  position: relative;
  bottom: 15px;
}

.content {
  text-align: center;
}

.main {
  display: flex;
  margin: 60px;
}

.col-1 {
  width: calc(100% / 12 * 6);
}

.contact {
  display: flex;
  justify-content: center;
}

.col-2 {
  width: calc(100% / 12 * 6);
}

.about {
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: large;
}

.about p {
  margin-top: 40px;
}

@font-face {
  font-family: "Code Demo";
  src: url("fonts/CodeDemo-Bold.woff2") format("woff2"),
    url("fonts/CodeDemo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
